{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<center><img src="https://www.topgear.com/sites/default/files/images/news-listicle/items2/2021/01/aaa64d51b0a3ed8450c8487e6be630c7/li3875760row_1287.jpg" alt="Alfa Romeo" height="500" width="900"></center>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1>Welcome to QQ Log</h1>
    <p class="lead">QQ Log is a place where automotive enthusiasts can inventory their vehicle
      collection and maintain a log of photos, documentation, and price of cars and bikes that
      they have collected over the years. Whether you're a seasoned collector, or just bought 
      your first car, documentation is important, and now you have a place for it all!  </p>
</div>
{% endblock content %}
